/* style.css */
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #b97878;
    padding: 20px;
}

.khasiat {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(42, 31, 31, 0.3);
}

.khasiat {
    background-color: #c3b6b6; /* Warna latar belakang untuk kotak genap */
}

.khasiat p {
    margin: 0;
}

.arrow {
    position: relative;
    top: -50px;
}

.arrow::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ab5b5b; /* Warna panah */
    left: 50%;
    transform: translateX(-50%);
}

/* Variasi warna panah */
.khasiat:nth-child(1) .arrow::before {
    border-bottom: 20px solid #432222;
}

.khasiat:nth-child(2) .arrow::before {
    border-bottom: 20px solid rgb(98, 98, 190);
}

.khasiat:nth-child(3) .arrow::before {
    border-bottom: 20px solid rgb(66, 181, 66);
}

.khasiat:nth-child(4) .arrow::before {
    border-bottom: 20px solid rgb(214, 87, 214);
}